<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- 当网站添加到主屏快速启动方式，可隐藏地址栏，仅针对safari -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 将网站添加到主屏快速启动方式，仅针对safari顶端状态条的样式 -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- 禁止将页面中的数字识别为电话号码 -->
    <meta content="telephone=no" name="format-detection">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.corejs %>
    <script src="./js/ipcRenderer.js?t=1543290059323"></script>
    <link rel="stylesheet" href="./js/antd.min.css">
    <script type="text/javascript">
	    "use strict";var init=function(c,b){var d=c.documentElement,a=function(){var e=d.clientWidth;if(!e){return}if(e<=1024){d.style.fontSize="100px"}else{if(e>=1024&&e<=1390){d.style.fontSize=100*(e/1024)+"px"}else{d.style.fontSize=100*(1390/1024)+"px"}}};if(!c.addEventListener){return}b.addEventListener("resize",a,false);c.addEventListener("DOMContentLoaded",a,false)};init(document,window);if(location.pathname.indexOf("xn")>-1||location.hash.indexOf("xn")>-1){var search=location.search,pathname=location.pathname,paths=pathname.split("/"),siteid="",mode="",path;for(var i=paths.length-1;i>=0;i--){path=paths[i];if(path!==""&&path!=="/"&&path!=="loginToken"){siteid=path;mode=paths[i-1];break}}if(pathname.indexOf("loginToken")>-1){location="/#/loginToken"+search+(siteid?"&siteid="+siteid:"")+(mode?"&mode="+mode:"")}};
    </script>
    <script src="https://bj-v4-n1-gateway.ntalker.com/js/XN.PhoneCall.js"></script>
    <link rel="stylesheet" href="{{CLIENT_SERVER_NAME}}/callphone/js/PhoneCall.css"/>    
    <style>
        #app {
            -webkit-app-region: no-drag;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    </style>
    <%= htmlWebpackPlugin.options.vendor %>
    <%= htmlWebpackPlugin.options.antd %>
</head>
<body style="-webkit-app-region: no-drag; background: transparent;font-family: Microsoft YaHei;">
<div id="app"/>
</body>
<%= htmlWebpackPlugin.options.google_protobuf %>
<script defer src="./js/echarts.min.js"></script>
<script defer src="./js/AgoraRTCSDK-2.4.0.js"></script>
</html>
